.DS_Store
node_modules/
dist/
test/unit/coverage/
test/e2e/reports/
test/e2e/screenshots/
bin/locales/json/

# Editor directories and files
.idea/
../.idea/
.vscode
*.suo
*.log*
*.ntvs*
*.njsproj
*.sln
